<p style="float:right; margin-top:0">
</p>

<p id="forum_name">

<table border="0" cellspacing="0" cellpadding="0" class="noborder nopad">
  <td>
    <label>Title</label><br />
    <%= f.text_field :name %>
  </td>
  <td>
    <label>Position</label><br />
    <%= f.text_field :position, :size => 5 %>

  </td>
</table>

</p>
<p id="forum_descripion">
<label>Description</label><br />
<%= f.text_area :description, :rows => 7 %></p>