<h1>New Forum</h1>

<% form_for :forum, :url => forums_path do |f| -%>
<%= render :partial => "form", :locals => { :f => f } %>
<%= submit_tag 'Create' %> or <%= link_to 'cancel', forums_path %>
<% end -%>