<h2>Contact Info</h2>

<p>Only fields you enter will be shown on your user profile.</p>

<p>
  <label for="user_website">Website</label><br />
  <%= settings.text_field :website %>
</p>

<p>
  <label for="user_bio">Bio</label><br />
  <%= settings.text_area :bio %>
</p>
